{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to NotTODO App</h2>
        <p>This is your home page. Navigate using the menu above.</p>
    </div>
</div>

<script src="https://sf-cdn.coze.com/obj/unpkg-va/flow-platform/chat-app-sdk/0.1.0-beta.4/libs/oversea/index.js"></script>
<script>
    new CozeWebSDK.WebChatClient({
      config: {
        bot_id: '7390779961479151622',
      },
      componentProps: {
        title: 'JEPA CHAT GPT ',
      },
    });
</script>

{% endblock %}
